div.blob {
   width: 30px;
   height: 30px;
   background: colour;
}

div.blieb {
   width: 20px;
   height: 40px;
   background: colour;
}

div.pakpak {
   width: 45px;
   height: 15px;
   background: colour;
}

div.same {
   width: 50px;
   height: 50px;
   background: colour;
}

div.klog {
   width: 15px;
   height: 15px;
   background: colour;
}


